### Gradle ###
.gradle
build/
gradle-app.setting
!gradle/wrapper/gradle-wrapper.jar
**/build/
**/bin/
.gradletasknamecache

### Java ###
# Compiled class file
*.class

# Log file
*.log

# BlueJ files
*.ctxt

# Package Files #
*.jar
*.war
*.nar
*.ear
*.zip
*.tar.gz
*.rar

*.db
*.mv.db
/.idea/
/.gitignore
